llm/*.ipynb
llm/.env
*build/*
*build
.venv
.gradio/*
*.ckpt
llm/torchlightning/MNIST/raw/*
*_pycache__
llm/torchlightning/data/*
llm/torchlightning/lightning_logs/*
llm/torchlightning/*logs*/*
llm/LLMs-from-scratch/.chainlit/*
*.pth